html, body{
    height: 100%;
}

body{
    overflow: hidden;
}

.ocean{
    height: 20%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #2884b8;
}

.wave{
   background: url(wave.svg) repeat-x ;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0,0,0);
}

.wave:nth-of-type(2){
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
}

  .content {
    position:relative;
    color: #fff;
    margin-top: 450px;
    
  }

@keyframes wave {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}
@keyframes swell {
    0%, 100%{
       transform: translate3d(0, -25px, 0)
    }
    50%{
        transform: translate3d(0, 5px, 0);
    }
}


/*mobile device*/
@media only screen and (max-width: 600px) {

    .ocean{
        height: 60%;
    }

    .content {
        position:relative;
        color: #fff;
        margin-top: 310px;
        
      }
}

/*tablet device*/
@media only screen and (min-device-width:768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .ocean{
        height: 50%;
    }

    .content {
        position:relative;
        color: #fff;
        margin-top: 570px;
        
      }

}